*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.py~
*.pyc
*.egg
*.egg-info
*.log
*.swp
*.swo
*.swn
.tags
.svn/
.project
.pydevproject
.idea
.dropbox
*.DS_Store

